<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Diabetes</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
		<input type="text" name="Pregnancies" placeholder="Number of Pregnancies" required="required" />
        <input type="text" name="Glucose" placeholder="Glucose concentration over 2 hours in an oral tolerance test" required="required" />
		<input type="text" name="BloodPressure" placeholder="Diastolic blood pressure (mm Hg)" required="required" />
    <input type="text" name="SkinThickness" placeholder="Triceps skinfold thickness (mm)" required="required" />
    <input type="text" name="Insulin" placeholder="2-Hour serum insulin (mu U/ml)" required="required" />
    <input type="text" name="BMI" placeholder="Body mass index (weight in kg / height in m^2)" required="required" />
    <input type="text" name="Age" placeholder="Age in years" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

Full code available in github
</body>
</html>
